		<style type="text/css">
				h1{
					color: red;
					font-size: 90px;
					text-decoration: underline;
				}
				h2 {
					font-size: 50px;
					color: green;
				}
				span{
					font-style: italic;
				}
				}
			</style>